<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phase2PracticeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Dash</servlet-name>
    <servlet-class>PracticeProject1.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dash</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>logfilter</filter-name>
    <filter-class>PracticeProject1.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>logfilter</filter-name>
    <servlet-name>Dash</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>outpage</servlet-name>
    <servlet-class>PracticeProject1.LogoutPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>outpage</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>