<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phase2_AssistedPractice_two</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>operation</servlet-name>
    <servlet-class>Tableops_5.TableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operation</servlet-name>
    <url-pattern>/table</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>data</servlet-name>
    <servlet-class>Databaseops_4.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>data</servlet-name>
    <url-pattern>/dboperations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>procedure</servlet-name>
    <servlet-class>Storedprocedures_3.Procedureservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>procedure</servlet-name>
    <url-pattern>/proc</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>stat</servlet-name>
    <servlet-class>Connection_statement_2.StatementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stat</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JDBCserv</servlet-name>
    <servlet-class>SetupJDBC_1.JDBCservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCserv</servlet-name>
    <url-pattern>/init</url-pattern>
  </servlet-mapping>
</web-app>